
@font-face {
    font-family: 'GoudyInitialen';
    src: url('GoudyIni.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    /* url('css/GoudyIni.woff') format('woff'), Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
 
 body {
     /* background-color: #FFF8F1; */
     background-color: #d3c9ca;
     
     font-family: 'Montserrat', cursive;
 }

 /* div {
    display: inline-block;
    border: 1px solid lightgray;
   
} */

.spacer {
    height: 90px;
}
.spacer-small {
    height: 45px;
}

.light { 
    /* color:  #FFF8F1; */
    color: #f4aacd;
}

.german-font {
    font-family: 'UnifrakturCook', cursive;
}

.english-font {
    font-family: 'Grenze Gotisch', cursive;
}

.manuscript-font {
    font-family: 'GoudyInitialen';
    /* font-size: 200px; */
}

.nav-head {
    font-size: 96px;
}

.content-wrapper {
    /* margin-top: 90px; */
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.navbar-tab { 
    fill: #d3c9ca;
    stroke: #0b0b16;
    stroke-width: 3px;
    /* #221812 */

    padding: 15px;
    margin-top: 1em;

    font-size: 60px;
    color: #FFF8F1;
}

.navbar-tab-txt {
    font-size: 45px;
}

.active-tab {
    fill: #0b0b16;
    stroke: #0b0b16;
    stroke-width: 3px;
}

.active-tab-txt {
    fill:  #a7b6df;
    font-size: 45px;
}

.col-icon-card {
    height: 150px;
    /* width: 80px;
    background-color: #0b0b16; */
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-icon {
    height: 120px;
    width: 120px;
    font-size: 100px;
    padding-left: 20px;
    border-radius: 10%;
}
#english-col-icon {
    background-image: linear-gradient(to bottom right, #243e86    , #98a8da);
    color: #d3c9ca;
}
#german-col-icon {
    background-image: linear-gradient(to bottom right, #34385d, #996ea0);
    color:#d3c9ca;
}
#german-titles{
    flex-direction: column;
    margin-left: 5%;
    width: 70%;
    
    /* class="story-title" */
}
#english-story-title{
    font-size: 45px;
}

#german-story-title{
    font-size: 45px;
}
#german-story-subtitle {
    font-style: italic;
    padding-left: 35px;
    font-size: 22px;
}

.story-title {
    margin-left: 5%;
    width: 70%;
}

.col-title-card {
    height: 200px;
    width: 90%;
    /* margin-left: 5%;
    margin-right: 5%; */
    margin: 5%;
}

.text-length-chart {
    width: 100%;
    height: 10vh;
}



#lead-card {
    height: 100vh;
    /* background-color: #221812; */
    background-color: #0b0b16
}

#nav-card {
    height: 60vh;
}

#splash {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60vh;
}

#title-text {
    font-size: 132px;
    /* color: #FFF8F1; */
    color: #f4aacd;
}

#assignment-info {
    text-align: left;
    padding: 30px 30px;
    height: 20vh;
    margin-left: 1em;
    
    color:  #f0bdd5;
}
#subview-info {
    /* color: #fffbd1; */
    color:  #a7b6df;
}

#nav-head-eng {
    text-align: left;
    padding-left: 240px;
    /* clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px));
    background-color: #243e86; */

    /* margin-left: 240px;
    text-align: left;
    padding: 40px;
    clip-path: polygon(0px 20%, 95% 20%, 100% 80%, 5% 95%);
    background-color: #243e86;
    width: 700px; */
}
#nav-head-deu {
    text-align: right;
    padding-right: 240px;
     /* margin-right: 240px; */
   /* text-align: right;
    padding: 40px;
    clip-path: polygon(0px 20%, 95% 20%, 100% 80%, 5% 95%);
    background-color: #243e86;
    width: 700px; */
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#navbar-wrapper {
    width: 90%;
    margin-left: 5%;
}

#branches-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 300px;
}

#column-card {
    display: flex;
    flex-direction: row;
    height: 200vh;    
}

.col {
    display: flex;
    flex-direction: column;

    width: 42%;
    margin-right: 3%;
}